<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppDataContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename={0}\PTRKBase.mdf;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>